/* import another */
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

/* all class */
body,html {
	font-family: 'Ubuntu';
}
a.buy-now {
	font-size: 0.9em;
	color: #F67777;
	text-decoration: none;
	border-bottom: 2px solid #F67777;
	padding: 0 0 0.5em;
	display: inline-block;
	font-weight: 300;
}
a.buy-now:hover {
	color: #000;
	border-bottom: 2px solid #000;
}
.form-control {
	border-radius: 0;
	color: #999;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #999;
	font-weight: 300;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #999;
	font-weight: 300;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #999;
	font-weight: 300;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #999;
	font-weight: 300;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
	color: #999;
	font-weight: 300;
}
.form-check-input {
	margin-right: 5px;
}
.icon-input {
	position: relative;
}
.icon-input .form-control {
	padding-right: 40px;
}
.icon-input > .icon {
	color: #F67777;
	font-size: 1em;
	position: absolute;
	top: 10px;
	right: 15px;
}


/* Top menu class */
.top-menu {
	background-color: #2E2E2E;
  	padding: 0;
	margin: 0;
	line-height: 36px;
}
.top-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 15px;
}
.top-menu ul li {
	display: inline-block;
}
.top-menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  margin: 0 0.8em;
}
.top-menu ul li a:hover,
.top-menu ul li a.active {
	color: #F67777;
}


/* Bottom Menu class */
.bottom-menu {
	background-color: white;
	padding: 0;
	margin: 0;
	line-height: 66px;
	position: relative;
}
.bottom-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.bottom-menu ul li {
	border-right: 1px solid #EFEFEF;
	display: inline-block;
}
.bottom-menu ul li a {
	display: inline-block;
  text-decoration: none;
	font-size: 1em;
  color: #3A3A3A;
  padding: 0 1.6em;
}
.bottom-menu ul li a:hover {
	background-color: #f67777;
  color: #fff;
}
.bottom-menu .text-right li {
	border: none;
}
.bottom-menu .text-right li a {
	border-left: 1px solid #EFEFEF;
	display: inline;
}
.bottom-menu .text-right li a:hover {
	background: none;
	color: #F67777;
}
.bottom-menu .col-2 {
	padding-right: 0;
}
.bottom-menu .col-8 {
	padding-left: 0;
	padding-left: 15px;
}
.bottom-menu .logo {
	font-family: 'Great Vibes';
	display: block;
	text-decoration: none;
	background-color: #f67777;
	height: 102px;
	width: 100%;
	text-align: center;
	line-height: 102px;
	font-size: 2.1em;
	color: white;
	position: absolute;
	top: -36px;
	left: 15px;
}


/* Slider bar class */
.slider-bar {
	height: 700px;
	background-image: url(/images/ba11.jpg);
	background-repeat: no-repeat;
	background-position: center right;
}
.slider-bar .align-items-center {
	height: 700px;
}
.slider-bar-head {
	line-height: 1.6em;
	font-size: 30px;
	font-weight: 400;
	color: #000;
}
.slider-bar-head .header {
	font-size: 2.6em;
	font-weight: 400;
  white-space: nowrap;
}
.slider-bar-head .color {
	margin-top: 30px;
  font-size: 1.4em;
  font-style: italic;
  color: #F67777;
}


/* Product header class */
.product-header {
	padding: 5em 0;
}
.product-header .boxset {
	margin-bottom: 30px;
	position: relative;
}
.product-header .boxset.alpha::before {
	content: '';
	display: block;
	position: absolute;
	background-color: rgba(0,0,0,.59);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.product-header .boxset > .pic-detail {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 0;
	margin-top: -45px;
	width: 100%;
}
.product-header .pic-detail p {
	color: #fff;
	font-size: 1.1em;
	text-transform: uppercase;
	margin: 0;
	font-weight: 500;
}
.product-header .pic-detail label {
	width: 100px;
	height: 2px;
	display: block;
	margin: 0.5em auto;
	background-color: white;
}
.product-header .pic-detail h5 {
	color: #F67777;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 500;
}
.product-header .boxset.alpha-hover::before {
	transition: all 0.4s;
	content: '';
	position: absolute;
	background-color: rgba(0,0,0,.59);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.product-header .boxset.alpha-hover > .pic-detail {
	opacity: 0;
	transition: all 0.4s;
}
.product-header .boxset.alpha-hover:hover > .pic-detail,
.product-header .boxset.alpha-hover:hover::before  {
	opacity: 1;
}
.product-header .boxset img {
	max-width: 100%;
}
.product-header .detail {
	margin: 0;
	padding: 0;
}
.product-header .detail span {
	font-size: 1.4em;
	font-weight: 600;
	color: #F67777;
	line-height: 1.8em;
	text-transform: uppercase;
	letter-spacing: 5px;
	display: block;
	margin-bottom: .5em;
}
.product-header .detail h2 a {
	text-decoration: none;
	color: #000000;
}
.product-header .detail p {
	font-size: 0.9em;
	color: #B3B3B3;
	line-height: 1.8em;
	margin: 1em 0 1.5em;
	font-weight: 300;
}


/* Product item class */
.product-item h3 {
	font-size: 2.5em;
	color: #000000;
	line-height: 1.8em;
	font-weight: 400;
}
.product-item label.line {
	width: 200px;
	height: 2px;
	display: block;
	background: #F67777;
	border-radius: 10px;
	margin: 0.2em auto;
}
.product-list {
	padding-top: 2em;
}
.product-list .boxprod {
	position: relative;
	border: 1px solid #EFECEC;
	padding: 10px;
	margin-bottom: 30px;
}
.product-list .prod-img {
	position: relative;
}
.product-list .pic-prod-detail {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -25px;
	text-align: center;
	opacity: 0;
	transition: all 0.4s;
}
.product-list .prod-img:hover .pic-prod-detail {
	opacity: 1;
}
.product-list .prod-img .pic-prod-detail a {
	height: 50px;
	width: 50px;
	line-height: 50px;
	display: inline-block;
	margin: 0 0.3em;
	background-color: white;
	color: #f67777;
	font-size: 1.3em;
}
.product-list .prod-img .pic-prod-detail a:first-child {
	color: white;
	background-color: #f67777;
}
.product-list .prod-img img {
	max-width: 100%;
}
.product-list .prod-detail {
	padding-top: 1em;
}
.product-list .prod-detail .fa-cart-plus {
	font-size: 1.4em;
	height: 40px;
	width: 40px;
	line-height: 40px;
	margin: 3px 0;
	text-decoration: none;
	color: white;
	background-color: #F67777;
	text-align: center;
}
.product-list .prod-detail span {
	font-size: 0.9em;
	font-weight: 600;
	color: #F67777;
	line-height: 1.8em;
}
.product-list h6 {
	font-size: 1.2em;
	font-weight: 400;
	margin: 0;
}
.product-list h6 a {
	color: #000000;
	text-decoration: none;
}
.product-list .prod-price {
	margin-top: 1em;
}
.product-list .prod-price p {
	float: left;
	font-size: 0.9em;
	color: #B4B4B4;
	padding: 0;
	margin: 0;
}
.product-list .prod-price p label {
	text-decoration: line-through;
	font-weight: 400;
	margin: 0;
	margin-right: 6px;
}
.product-list .prod-price::after {
	content: '';
	display: block;
	clear: left;
}


/* Footer class */
.footer {
	background: #1F1F1F;
	margin-top: 2em;
	padding: 2em 0;
	color: #B3B3B3;
}
.footer h6 {
	color: white;
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: .1em;
	margin-bottom: 15px;
}
.footer .logo {
	font-family: 'Great Vibes';
	font-size: 2.5em;
	color: white;
	margin: 0;
}
.footer .detail {
	font-size: .9em;
	line-height: 1.8em;
	font-weight: 300;
}
.footer ul {
	padding: 0 15px;
	margin: 0;
}
.footer ul::after {
	content: '';
	display: block;
	clear: both;;
}
.footer ul li {
	float: left;
	line-height: 1.8em;
	width: 50%;
}
.footer ul a {
	color: #B3B3B3;
	font-size: .8em;
}
.footer .tags {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}
.footer .tags li {
	float: none;
	display: inline-block;
	width: auto;
	margin-right: 10px;
	margin-bottom: 10px;
}
.footer .tags a {
	display: inline-block;
	padding: 0.3em 0.7em;
	min-width: 70px;
	text-align: center;
	border: 1px solid #B3B3B3;
	text-decoration: none;
	border-radius: 20px;
}
.footer .tags a:hover {
	color: #F67777;
	border: 1px solid #F67777;
}
.footer .letter label {
	font-size: 0.9em;
	color: #B3B3B3;
	line-height: 1.8em;
}
.footer .letter .form-control {
	width: 100%;
	padding: 0.5em 1em;
	margin: 0;
	background: none;
	outline: none;
	border: 1px solid #B3B3B3;
	-webkit-appearance: none;
	font-size: 0.9em;
	color: #B3B3B3;
	border-radius: 0;
	font-weight: 300;
}
.footer .letter ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #B3B3B3;
	font-weight: 300;
}
.footer .letter ::-moz-placeholder { /* Firefox 19+ */
	color: #B3B3B3;
	font-weight: 300;
}
.footer .letter :-ms-input-placeholder { /* IE 10+ */
	color: #B3B3B3;
	font-weight: 300;
}
.footer .letter :-moz-placeholder { /* Firefox 18- */
	color: #B3B3B3;
	font-weight: 300;
}
.footer .letter .btn-pink {
	margin-top: 12px;
	width: 100%;
	font-size: 1em;
	background: #F67777;
	padding: 0.5em 1em;
	text-align: center;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 0;
	cursor: pointer;
}
.footer .letter .btn-pink:hover {
	color: #F67777;
	background: #fff;
}

/* Banner class */
.banner {
	text-align: center;
	width: 100%;
	height: 250px;
	display: block;
	background-image: url(/images/login-bg.jpg);
	padding: 5em 0;
}
.banner h1 {
	font-size: 3em;
 	color: #fff;
	font-weight: 400;
}
.banner h2 {
	font-size: 0.9em;
	color: #fff;
	margin-top: 1em;
	font-weight: 300;
}
.banner a {
	color: #f67777;
}
.banner label {
	margin: 0 0.4em;
}

/* Login class */
.login .form {
	padding: 5em 0 0;
}
.login .form .form-group {
	margin-bottom: 30px;
}
.login .form label {
	font-weight: 300;
}
.login .form .form-check {
	margin-bottom: 1em;
}
.login .form .form-check-input {
	position: relative;
	top: -1px;
}
.login .form h3 {
	font-size: 1.5em;
	color: #000000;
	font-weight: 400;
}
.login .form p {
	font-size: 0.9em;
	color: #B3B3B3;
	line-height: 1.8em;
	margin: 1em 0;
	font-weight: 300;
}
.login .form .btn.btn-pink {
	background-color: #F67777;
	color: #fff;
	padding: 0.5em 1em;
	font-size: 1em;
	border-radius: 0;
	min-width: 130px;
}


/* Register class */
.register .form {
	padding: 5em 0 0;
}
.register .form .form-group {
	margin-bottom: 30px;
}
.register .form label {
	font-weight: 300;
}
.register .form .form-check {
	margin-bottom: 1em;
}
.register .form .form-check-input {
	position: relative;
	top: -1px;
}
.register .form h3 {
	font-size: 1.5em;
	color: #000000;
	font-weight: 400;
}
.register .form p {
	font-size: 0.9em;
	color: #B3B3B3;
	line-height: 1.8em;
	margin: 1em 0;
	font-weight: 300;
}
.register .form .btn.btn-pink {
	background-color: #F67777;
	color: #fff;
	padding: 0.5em 1em;
	font-size: 1em;
	border-radius: 0;
	min-width: 130px;
}


/* Brand footer class */
.brand-footer {
	padding: 1.5em 0;
}
.brand-footer img {
	display: block;
	max-width: 100%;
	height: auto;
	border: double 3px #1F1F1F;
}

/* Checkout class */
.checkout .checkout-table {
	margin: 2em 0;
}
.checkout .table th {
	color: #000000;
	font-size: 1.25em;
	font-weight: 400;
	border-top: none;
}
.checkout .table td {
	color: #b2b2b2;
	font-size: 1em;
}
.checkout .checkout-detail img {
	float: left;
	margin-right: 1.5em;
	height: 115px;
}
.checkout .checkout-detail:after {
	content: '';
	display: block;
	clear: both;
}
.checkout .checkout-detail h5 {
	margin: 0;
}
.checkout .checkout-detail h5 a {
	color: #F67777;
	text-decoration: none;
	font-size: .9em;
	font-weight: 400;
}
.checkout .checkout-detail p {
	color: #b2b2b2;
	font-size: 0.8em;
	line-height: 1.8em;
	padding: 1em 0 0;
	margin: 0;
}
.checkout .btn.btn-pink {
	background-color: #F67777;
	color: #fff;
	padding: 0.5em 1em;
	font-size: 1em;
	border-radius: 0;
}

.products {
}
.products .products-wapper {
	padding-top: 1.5em;
	padding-bottom: 3em;
}

/* sidebar class */
.sidebar {

}
.sidebar .boxs {
	border-bottom: 1px solid #E9E9E9;
	padding-top: 1em;
	padding-bottom: 1em;
}
.sidebar h4 {
	font-size: 1.6em;
	color: #F67777;
	font-weight: 400;
}
.sidebar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.sidebar ul a {
	color: black;
}
